body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.game-area {
    width: 800px;
    position: relative;
    height: 600px;
    background-image: url('images/trilha-pixelart.png');
    background-size: cover;
    border: 4px solid #333;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.chest {
    width: 75px;
    height: 75px;
    background-image: url('images/bau-pixelart.png');
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s;
    position: absolute;
}
.chest:hover {
    transform: scale(1.1);
}
.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    background-color: #fff;
    z-index: 1000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.close {
    float: right;
    cursor: pointer;
}
.character {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
